* {
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    width: 100vw;
    
    height: auto;

}

body {
    margin: 0 auto;

    
}
h1 {
    font-size: 50px;
    font-weight: 700;
    margin:  15px 10px;
    color: green;
    text-transform: uppercase;
}


ul {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
    
}
 ul > li {
    list-style: none;
    padding: 10px 15px;
    
    
 }

 ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #000;
 }

 ul li a:hover {
    color: orangered;
 } 

 @media (max-width: 500px)  {
    .recipe-items {
        flex-direction: column;
        
    }
    ul > li {
        padding-top: 15px;
    }
 }


 /* recipes styles */

h2,
h3  {
    color: orangered;
    font-size: 25px;
    margin: 5px 0 0 15px;
   
}


p {
    font-size: 15px;
    max-width: 650px;
    margin: 10px 5px;
    padding: 10px;
    
}
#ingredients-list {
    display: block ;
    font-style: italic;
    color: rgb(9, 134, 36);
}
ol {
    margin: 0 0 30px 35px;
    
}
ol li {
    padding: 5px;
}


img {
    padding: 40px;
    max-width: 500px;
    height: auto;
}


.image-box {

    margin-top: 20px;
    /* background-color: red; */
    width: 500px;
    display: inline-block;
    vertical-align: top;
}

.process-box {
    margin-top: 70px 50px;
    width: 500px;
    /* background-color: yellow; */
    display: inline-block;
    vertical-align: top;
}

.process-box .container{
    width: 400px;
    margin: 10px;
    padding: 5px;
    color: #000000;
    /* background-color: rgb(8, 8, 71); */
    

}
